# Created by https://www.gitignore.io

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
**[fishd.The_Arch]
**[fish_read_history]
**[generated_completions]
**[fish_history]
**[bundle]**
**.[info]
**[autoload]**
**[tmp]**
**[undo]**
nvim/\.config/nvim/bundle/**
