# Created by https://www.gitignore.io

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
fish/.config/fish/fishd.The_Arch
fish/.config/fish/fish_read_history
fish/.config/fish/generated_completions
fish/.config/fish/fish_history
